@page
@model SalonWeb.Pages.Specialisti.IndexModel

@{
    ViewData["Title"] = "Specialisti";
}

<h1>Lista Specialisti</h1>

<p>
    <a asp-page="Create">Specialist Nou</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Specialist[0].SpecialistNume)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Specialist) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialistNume)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
